@import "tailwindcss";

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

@theme {
  --color-background: #FCFCFC;
  --color-primary: #5AA9AD;
  --color-secondary: #46ACC2;
}

* {
  transition: .2s;
}

body {
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: 24px;
}