@import "tailwindcss";

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

@theme {
  --color-background: #FCFCFC;
  --color-primary: rgb(30, 136, 229);
  --color-secondary: rgb(33, 150, 243);
}

body {
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: 24px;
}