@import "tailwindcss";

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

body {
  margin: 0;
}

@theme {
  --color-background: #FCFCFC;
  --color-primary: #66D4DA;
  --color-secondary: #46ACC2;
}